.locations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  pad: 2.4rem 4vw;
  width: 100%;
  max-width: 87.6rem;
  min-width: 32rem;
  color: var(--color-dark);
  min-height: calc(100vh - (12rem * 2));
}
