.contactUs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  pad: 2.4rem 4vw;
  width: 100%;
  max-width: 87.6rem;
  min-width: 32rem;
  color: var(--color-dark);
  min-height: calc(100vh - (12rem * 2));
}

title {
  margin-bottom: 2rem;
}

.section__1 {
  padding: 3.2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.section__1 p {
  text-align: center;
  font-size: var(--text-title-s);
  line-height: 1.7;
}

.section__2 {
  width: 100%;
  padding: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.section__2 h2 {
  font-size: var(--text-title-m);
  font-weight: 800;
}

.section__2 p {
  text-align: center;
  font-size: var(--text-title-s);
  line-height: 1.7;
}

.section__2 button {
  width: 100%;
  background-color: var(--color-blue-1);
  color: var(--color-white);
}
