*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: -1px;
  color: var(--color-dark);
}

body {
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}
h1 {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -2px;
}
.text-display-l {
  font-size: var(--text-display);
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 4.8rem;
  padding: 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  font-size: var(--text-title-s);
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

:root {
  --text-small: 1.8rem;
  --text-title-s: 2rem;
  --text-title-m: 2.8rem;
  --text-title-l: 4.2rem;
  --text-display: 5.2rem;

  --color-white: #ffffff;
  --color-gray: #555758;
  --color-dark: #303030;
  --color-light: #f0efef;
  --color-lighter: #f5f5f5;
  --color-blue-1: #006491;
  --color-blue-2: #4c7c93;
  --color-red-1: #e31837;
}
